<button #mySkipButton id="btnskipvideo" class="btnDialogue" (click)="onSkipclick()" disabled="true">SKIP VIDEO <i class="fa-solid fa-forward"></i></button>
<button #myDialogueButton id="btnskipdia" class="btnDialogue" (click)="onButtonClick()" disabled="true">CONTINUE <i class="fa-solid fa-arrow-right"></i></button>
<button #mySkipButton id="btnsave" class="btnDialogue" disabled="true">SAVE <i class="fa-solid fa-floppy-disk"></i></button>
<button #myHintButton id="btnhint" class="btnDialogue" (click)="showHint()" disabled="true">HINT <i class="fa-solid fa-lightbulb"></i></button>
